{% extends 'base.html' %}
{% block title %}Index Page{% endblock title %}
{% block content %}
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a href="{% url 'add-category' %}" class="navbar-brand btn btn-info ">+Add Category</a>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" name='query' placeholder="Search by Categories" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <span>
          <form action="{% url 'category' %}" method="get">
          <button  class="btn btn-outline-info" name='all' value="all">All</button>
          <button  class="btn btn-outline-info" name='active' value="active">Active</button>
          <button  class="btn btn-outline-info" name='inactive' value="inactive">Inactive</button>
          </form>  
        </span>
      </div>
    </nav>

    <table class="table">
        <thead>
          <tr>
            <!-- For to used to  Sort by fields   -->
            <form action="{% url 'category' %}" method="get" >
              <!-- Select All Radio/Categories  -->
            <th scope="col"> <input type="checkbox" onclick="deleteAllData()" id="deleteAll" name="all_category" value="delete" ></th>
            <th scope="col"><button class="link btn btn-outline-success" name="category_id" value="id">Sr#</button></th>
            <th scope="col"><button class="link btn btn-outline-success" name="category_name" value ="name">Category Name</button></th>
            <th scope="col"><button class="link btn btn-outline-success" name="category_fee" value="fee">Packing Fee</button></th>
            <th scope="col"><button class="link btn btn-outline-success" name="category_status" value="status">Status</th></button>    
            </form>        
          </tr>          
        </thead>
        <tbody>
          <!-- Form to Get and Delete Data from List of Categories -->
          <form action="{% url 'category' %}" method="post">       
            {% csrf_token %}     
            {% for category in categories %}
            <tr>              
            <td>
              <!-- Individual Category Delete checkbox Button -->
              <input type="checkbox" class="category"  name="category" value="{{category.id}}" >
            </td>
            <th scope="row">{{category.id}}</th>
            <td>{{category.name}}</td>
            <td>{{category.packing_fee}}</td>
            
            {% if category.status %}
              <td>Active</td>
              {% else %}
              <td>Inactive</td>
            {% endif %}
            <!-- Buttons to update and delete Category -->
           <td><a href="{% url 'delete-category' category.id %}" class="link">Delete</a></td>
            <td><a href="{% url 'update-category' category.id %}" class="link">Edit</a></td> 
          </tr> 
        {% endfor %}
        </tbody>
</table> 
{% if categories %}
<!-- Delete Multiple Category checkbox form Submit Button -->
 <button  class="btn btn-outline-danger ">Delete</button>
  {% endif %}
 <!-- <div class="dropdown">
  <a class="btn btn-danger dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Choose Action
  </a>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" type="submit">Delete</button></li>
  </ul>
  </div>   -->
  </form>

<!-- Pagination -->
{% if page_obj.has_previous %}
  <a href="?{% if query %}query={{query}}&{% elif all %}all=all&{% elif inactive %}inactive=inactive&{% elif active %}active=active&{% endif %}page=1">First page</a>
  <a href="?{% if query %}query={{query}}&{% elif all %}all=all&{% elif inactive %}inactive=inactive&{% elif active %}active=active&{% endif %}page={{page_obj.previous_page_number}}">Previous</a>
{% endif %}
{% if page_obj.has_next%}
  <a href="?{% if query %}query={{query}}&{% elif all %}all=all&{% elif inactive %}inactive=inactive&{% elif active %}active=active&{% endif %}page={{page_obj.next_page_number}}" class="me-4">next</a>
  <a href="?{% if query %}query={{query}}&{% elif all %}all=all&{% elif inactive %}inactive=inactive&{% elif active %}active=active&{% endif %}page={{page_obj.paginator.num_pages}}">last</a>
{% endif %}
<div class="my-3">
  <span class="">Page {{page_obj.number}} of {{paginator.num_pages}}</span>
</div>
<a href="{% url 'add-category' %}" class="link "> Add a category</a>
{% endblock content %}
{% block javascript %}
  <script>
    let selectAllBtn = document.getElementById("deleteAll")
    let categoryBtns = document.querySelectorAll(".category")
    function deleteAllData(){
    if(selectAllBtn.checked==true){
      categoryBtns.forEach(el=>{
        el.checked = true
      })      
    }
     if(selectAllBtn.checked==false){
      categoryBtns.forEach(el=>{
        el.checked = false
      })      
    }
  }    
  </script>
  
{% endblock javascript %}